# Core Python libraries
numpy
pandas
yfinance
matplotlib
seaborn
joblib

# Scikit-learn utilities
scikit-learn
scikeras

# Machine Learning & Optimization
xgboost
optuna

# ARIMA models for time series forecasting
pmdarima
statsmodels
Cython

# Deep Learning with TensorFlow
tensorflow
keras

# Building web apps with Streamlit
streamlit