# Core Python libraries
numpy==1.26.4
Cython==3.1.4
pandas==2.3.2
yfinance==0.2.66
matplotlib==3.10.6
seaborn==0.13.2
joblib==1.5.2

# Scikit-learn utilities
scikit-learn==1.7.2
scikeras==0.13.0

# Machine Learning & Optimization
xgboost==3.0.5
optuna==4.5.0

# ARIMA models for time series forecasting
statsmodels==0.14.5

# Deep Learning with TensorFlow
tensorflow==2.16.1

# Building web apps with Streamlit
streamlit==1.50.0